.box {
  width: 150px;
  height: 150px;
}

.box:nth-child(1) {
  background-color: #ff8888;
  position: absolute;
  z-index: 2;
}

.box:nth-child(2) {
  background-color: #7e8aeb;
  position: absolute;
  z-index: 3;
  left: 90px;
  top: 90px;
}

.box:nth-child(3) {
  background-color: #4def99;
  position: absolute;
  z-index: 2;
  left: 180px;
  top: 180px;
}
